.exploded-server-container {
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 992px) {
  .exploded-server-container {
    height: 400px;
  }
}
